.portfolio {
  @include bg-mixin;
  @include nav-adjust;
  @include flex-align(center, center);
  position: relative;

  @media #{$break-lg} {
    height: auto;
  }

  @media #{$break-sm} {}

  .portfolio-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    @media #{$break-xs} {
      // display: block;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @media #{$break-sm} {
      // display: block;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .portfolio-title {
    @include resp-text(3.5rem, 3rem, 2rem);
    font-size: 4rem;
    text-align: center;
    width: 100%;
    margin: 2rem 0;

    @media #{$break-sm} {
      padding-bottom: 3%;
    }

  }

  .portfolio-list {
    @include flex-align(center, center);
    cursor: pointer;
    max-width: 1200px;
    align-self: center;
  }

  .portfolio-list-item {
    display: flex;
    max-width: 45%;
    align-self: stretch;
    margin: 1% 1%;
    position: relative;

    @media #{$break-xl} {
      max-width: 45%;
      margin: 1.5% 1.5%;
    }

    @media #{$break-lg} {
      max-width: 48%;
    }

    @media #{$break-md} {
      max-width: 98%;
    }
  }

  .portfolio-list-card {
    display: flex;
    padding: 1rem;

    .card-content {

      .card-title {
        font-size: 1.4rem;
        padding-bottom: .5rem;
      }

      .item-desc>p {
        font-size: 1rem;
      }
    }
  }

  .portfolio-item {
    display: flex;
    position: relative;
    padding: 2rem;
    max-width: 1200px;

    @media #{$break-md} {
      flex-direction: column-reverse;
    }

    @media #{$break-xl} {
      width: 98%;
    }

    .content-column {
      @include flex-align(space-between, center);

      p {
        font-size: 1.2rem;
        padding-bottom: .75rem;
      }

      .item-content {
        padding-top: 1rem;
      }

      .item-link {
        padding-right: 1.5rem;
      }

      .item-desc,
      .item-title {
        padding-bottom: 1rem;
      }
    }

    .content-column,
    .img-column {
      padding-top: 1rem;
    }

    .img-column {
      @include flex-align(center, center, column);
      padding: 2rem;
      border-left: solid 1px $border-color;
      margin-left: 2rem;

      @media #{$break-md} {
        border: none;
        margin: 0;
        padding: 2rem;
      }
    }

    .img-fluid {
      @include box-shadow;
      border-radius: 10px;
      width: 100%;
      height: auto;
    }
  }

  .card-btns {
    @include flex-align(center, center, column);
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: solid 1px $border-color;

    a {
      padding: .5rem 0;
    }
  }

}
