.portfolio {
  @include flex-align(space-evenly, center);
  @include nav-adjust;
  flex-direction: column;
  flex-wrap: nowrap;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10%;

  @media #{$break-md} {
    padding-top: 74px;
  }

  .portfolio-title {
    @include resp-text(3.5rem, 3rem, 2rem);
    font-size: 4rem;
  }

  .portfolio-items {
    @include flex-align(center, center);
    cursor: pointer;
  }

  .portfolio-item {
    display: flex;
    max-width: 48%;
    align-self: stretch;
    margin: .5rem;

    @media #{$break-xl} {
      max-width: 48%;
    }

    @media #{$break-lg} {
      max-width: 48%;
    }

    @media #{$break-md} {
      max-width: 100%;
    }
  }

  .item-wrapper {
    padding: 1rem;

    .item-body {
      height: 100%;

      .fa {
        margin-bottom: 1rem;
      }


      .item-btns {
        @include flex-align();

        a {
          color: $item-btn-color;
          margin: .5rem;

          &:hover {
            color: $item-btn-color-hover;
          }
        }
      }
    }
  }

  .img-column {
    display: flex;
    align-content: center;

  }

  .img-fluid {
    @include box-shadow;
    border-radius: 10px;
  }
}