.about {
  @include bg-mixin;
  @include nav-adjust;
  @include flex-align(center, center);

  .about-title {
    @include resp-text(3.5rem, 3rem, 2rem);
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 1rem;
    text-align: center;
  }

  .about-content-wrapper {
    @include flex-align(space-around, center);
    width: 80%;
    max-width: 1500px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .025rem;
    flex-wrap: nowrap;
    padding: 2rem;

    @media #{$break-lg} {
      width: 90%;
    }

    @media #{$break-md} {
      width: 95%;
    }

    @media #{$break-sm} {
      width: 98%;
    }

    @media #{$break-md} {
      flex-direction: column-reverse;
    }
  }

  .about-img {
    border: solid 4px $border-color;
    height: auto;
    width: 100%;
    max-width: 427px;
    max-height: 427px;
    margin: 1rem;

    @media #{$break-md} {
      flex-direction: column-reverse;
    }
  }
}
