.blog {
  @include full-page-ele;
  position: relative;

  @media #{$break-lg} {
    height: auto;
    padding-top: 10%;
  }

  p {
    margin: 0;
  }

  // Single Blog Post styles
  .blog-post-wrapper {
    position: relative;
    padding: 2rem;
    max-width: 1400px;
    margin: 1rem auto;

    // Content styles
    .blog-post-content {
      font-size: 1.2rem;
      letter-spacing: .1rem;

      h1 {
        @include resp-text(2.75rem, 2.5rem, 2rem);
        font-size: 3rem;
      }

      h2 {
        @include resp-text(2.25rem, 2rem, 1.75rem);
        font-size: 2.5rem;
      }

      h3 {
        @include resp-text(1.9rem, 1.8rem, 1.7rem);
        font-size: 2rem;
      }

      h4 {
        @include resp-text(1.7rem, 1.6rem, 1.5rem);
        font-size: 1.8rem;
      }

      h5 {
        @include resp-text(1.5rem, 1.4rem, 1.3rem);
        font-size: 1.6rem;
      }

      h6 {
        @include resp-text(1.3rem, 1.2rem, 1rem);
        font-size: 1.4rem;
      }

      p {
        font-size: 1.1rem;
        margin: 1rem 0;
      }

      .wp-block-quote {
        background: $blockquote-bg-color;
        border-left: 10px solid $blockquote-border-color;
        margin: 1.5rem;
        padding: 2rem 10px;
        quotes: "\201C""\201D""\2018""\2019";

        &::before {
          color: $blockquote-quote-mark-color;
          content: open-quote;
          font-size: 4rem;
          line-height: .1em;
          margin-right: .25em;
          vertical-align: -.4em;
        }

        p {
          display: inline;
        }

        cite {
          font-size: .8rem;
          padding-left: 1rem;
        }
      }
    }

    .blog-post-title {
      @include flex-align(center, center);
      border-bottom: solid 1px $border-color;
    }
  }

  .blog-title,
  .blog-post-title {
    @include resp-text(3.75rem, 3.5rem, 3rem);
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  // Blog List Styles
  .blog-list-wrapper {
    @include flex-align(center, center);
    height: 100%;
  }

  .blog-list {
    @include flex-align(center, center);
    width: 100%;

    .blog-list-card {
      @include flex-align(center, center, column);
      cursor: pointer;
      padding: 1rem;
      flex-basis: 31%;
      margin: 1rem;

      @media #{$break-md} {
        flex-basis: 100%;
      }
    }

    .blog-list-title {
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      font-weight: bold;
      margin: 0;
      padding-bottom: .5rem;
    }
  }

  .blog-list-meta,
  .blog-post-meta {
    font-weight: 500;
    margin-left: 1rem;
    color: $blog-list-meta-color;
    font-size: 1rem;
  }
}