.blog {
  @include flex-align(center, center);
  @include nav-adjust;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10%;

  p {
    margin: 0;
  }

  .blog-title {
    @include resp-text(3.75rem, 3.5rem, 3rem);
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .blog-list {
    @include flex-align(center, center);

    .blog-list-card {
      @include flex-align(center, center);
      cursor: pointer;
      padding: 1rem;
      flex-basis: 31%;
    }

    .blog-list-title {
      display: flex;
      align-items: center;
      font-weight: bold;
      margin: 0;
    }

    .blog-list-meta {
      font-weight: 500;
      margin-left: .5rem;
      color: $blog-list-meta-color;
      font-size: 1rem;
    }
  }
}