html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $primary-font;
  font-weight: 500;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2rem;
}

// Lists
ul {
  list-style: none;
}

// Links
a {
  color: rgb(83, 228, 194);
  text-decoration: none;

  &:hover {
    color: rgb(53, 189, 157);
  }
}

.back-link {
  display: block;
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: $item-btn-color;

  &:hover {
    color: $item-btn-color-hover;
  }

  .fa {
    color: inherit;
  }
}

.fa {
  color: $item-btn-color;

  &:hover {
    color: $item-btn-color-hover;
  }
}

// White Trans Content Box
.white-trans-box {
  background: #fff;
  border: solid 4px $border-color;
  border-radius: 10px;
}

// Hoverable Boxes
.hoverable {
  @include box-shadow(4px, 8px);
  transition: .3s ease;

  &:hover {
    @include box-shadow(8px, 15px);
    transform: translateY(-2px);
  }
}

// Circle images
.img-circle {
  border-radius: 100%;
}