// Mixins
@mixin flex-align($justify: flex-start, $align: flex-start, $dir: row, $wrap: wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
  flex-wrap: $wrap;
}

@mixin nav-adjust($height: 100vh) {
  min-height: $height;
  width: 100%;
  padding-top: 64px;

  @media only screen and (max-width: 600px) {
    padding-top: 56px;
  }
}

@mixin box-shadow($size: 5px, $blur: 10px) {
  box-shadow: 0 $size $blur $shadow;
}

@mixin resp-text($lg-font, $md-font, $sm-font) {
  @media #{$break-lg} {
    font-size: $lg-font;
  }

  @media #{$break-md} {
    font-size: $md-font;
  }

  @media #{$break-sm} {
    font-size: $sm-font;
  }
}

@mixin bg-mixin {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
