// Mixins
@mixin flex-align($justify: flex-start, $align: flex-start, $dir: row, $wrap: wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
  flex-wrap: $wrap;
}

@mixin box-shadow($size: 5px, $blur: 10px) {
  box-shadow: 0 $size $blur $shadow;
}

@mixin resp-text($lg-font, $md-font, $sm-font) {
  @media #{$break-lg} {
    font-size: $lg-font;
  }

  @media #{$break-md} {
    font-size: $md-font;
  }

  @media #{$break-sm} {
    font-size: $sm-font;
  }
}

@mixin full-page-ele($height: 94vh, $width: 100%) {
  height: $height;
  width: $width;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}