// Typography
$title-font: 'Pacifico',
cursive;
$primary-font: 'Quicksand',
sans-serif;

// Colors
// Oranges
$color-primary-0: #FD6347; // Main Primary color */
$color-primary-1: #FFA695;
$color-primary-2: #FF816A;
$color-primary-3: #EE3B1A;
$color-primary-4: #B9250A;

$color-secondary-1-0: #31839E; // Main Secondary color (1) */
$color-secondary-1-1: #7EBED3;
$color-secondary-1-2: #509DB6;
$color-secondary-1-3: #157595;
$color-secondary-1-4: #0A5973;

$color-secondary-2-0: #A2E841; // Main Secondary color (2) */
$color-secondary-2-1: #CAF58F;
$color-secondary-2-2: #B4EF63;
$color-secondary-2-3: #89DA18;
$color-secondary-2-4: #66A909;

$color-complement-0: #34B961; // Main Complement color */
$color-complement-1: #83DFA2;
$color-complement-2: #55CB7D;
$color-complement-3: #13AF48;
$color-complement-4: #078733;

// Additional colors
$raisin-black: rgb(31, 36, 39);
$raisin-black-trans: rgba(34, 34, 34, .8);
$onyx: #393838;
$white: #fff;
$off-white: #ececec;
$white-trans: rgba(255, 255, 255, 0.7);
$black: #000;
$gray: gray;
$light-gray: rgb(202, 202, 202);
$light-gray-trans: rgba(185, 185, 185, 0.5);
$shadow: rgba(51, 51, 51, .8);
$turqoise: #64FFDA;

// Color Scheme:
// General
$dark-text: $onyx;
$light-text: $white;

// Background color
$bg-primary: $white;
$bg-dark: $onyx;
$bg-off-white: $off-white;

// Border
$border-color: $color-secondary-1-0;

// Navigation Colors
$nav-bg-color: $color-complement-0;
$nav-text-color: $dark-text;
$nav-text-hover-color: $light-text;
$nav-brand-hover-color: $color-secondary-1-0;

// Home Colors
$title-color: $dark-text;

// Portfolio Colors
$item-btn-color: $shadow;
$item-btn-color-hover: $color-secondary-1-0;

// Blog Colors
$blog-list-meta-color: $gray;

// Typography colors
// Blockquote
$blockquote-border-color: $color-primary-0;
$blockquote-bg-color: $off-white;
$blockquote-quote-mark-color: $raisin-black;

// Layout variables
// Navigation
$nav-height: 64px;

// calc 100vh height accounting for nav height
$nav-vh-calc: calc(100vh - #{$nav-height});

// Media Variables
$break-xs: 'only screen and (max-width: 500px)';
$break-sm: 'only screen and (max-width: 768px)';
$break-md: 'only screen and (max-width: 992px)';
$break-lg: 'only screen and (max-width: 1200px)';
$break-xl: 'only screen and (max-width: 1800px)';
