// Typography
$title-font: 'Pacifico',
cursive;
$primary-font: 'Quicksand',
sans-serif;

// Colors
$outer-space: #494949;
$silver-chalice: #acacac;
$raisin-black: #222222;
$raisin-black-trans: rgba(34, 34, 34, 0.5);
$gainsboro: #dbdada;
$trolley-grey: #7c7a7a;
$onyx: #393838;
$pale-pink: #ffd2d8;
$fiery-rose: #ff5d73;
$wine: #742b35;
$white: #ececec;
$black: #000000;

// Media Variables
$break-sm: 'only screen and (max-width: 768px)';
$break-md: 'only screen and (max-width: 992px)';
$break-lg: 'only screen and (max-width: 1200px)';